Repository unikraft/kraft, pull requests merged in 2022-03, with the labels that each got.

#88 Add `bindgen` and `bzip2` to Docker build environment
  package/docker/Dockerfile.kraft
Labels: kind/enhancement, area/package, runtime/docker

#86 cmd,app: Fix fast builds
  kraft/app/app.py
  kraft/cmd/build.py
Labels: kind/bug

#72 plat/volume: Set volume driver to Enum instance
  kraft/plat/volume/volume.py
Labels: area/plat
